@import '../../styles/variables.scss';

.container-pokemons {    

    height: 17rem;
    overflow-y: scroll;
}

.content-pokemons {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    li {
        background: $bg-light-color;
        color: $info-color;
        font-weight: bold;

        cursor: pointer;
        
        text-align: center;
        margin: 1rem 0.3rem;
        padding: 0.5rem 0;

        transition: 250ms all;

        &:hover {
            transform: opacity 250ms;
            opacity: .5;
        }
    }
}