@import '../../core/styles/variables.scss';

.container {
    display: flex;
    
    height: 100vh;
}

.wrapper-content{
    color: #fff;
    width: 100%;
    padding: 2rem;
}

.content-header {

    .content-app-name, .content-header-span  {
        color: $info-color;
        font-family: 'Luckiest Guy', cursive;
        font-weight: 100;
    }

    .content-header-span {
        display: inline-block;
        margin-top: 1rem;
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
    }

}